.item {
    padding: 10px !important;
    height: 400px;
}
.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
    max-height: 200px !important;
}

.itemContainer {
    padding: 5px !important;
}